html, body{
    background-image: url(../img/BG.jpg);
    background: no-repeat center cover;
    min-height: 90vh;
    width: 99%;
    color: white;
    font-size: 16px;
    font-family: 'News Cycle', sans-serif;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    .form-group {
        max-width: 360px;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

h1{
    font-size: 5em;
    margin: 0;
    font-weight: 100;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0;
    transition: opacity ease-in 1s;
}


h3{
    font-size: 1.5em;
    margin: 20px;
    font-weight: 100;
    opacity: 0;
    transition: opacity ease-in 1s;
}

#weatherIcon{
    font-size: 2em;
    opacity: 0;
    transition: opacity ease-in 1s;
    padding: 0;
    margin: 0;
}

#main{
    padding: 0;
    margin: 0;
}

.fas{
    margin-right: 10px;
}

.fa-map-marker-alt{
    margin: 0;
    padding: 0;
}

#cel{
    font-size: 0.4em;
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
}



:root {
    --input-color: #678efe;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;

    --input-border-focus: #275efe;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'News Cycle', sans-serif;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        text-transform: uppercase;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }


    &:focus-within {
        
        & > span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);           
        }

        & > button {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

.findMe{
    padding: 0;
    flex: none !important;
    width: 30px !important;
    border-left: none;
    cursor: pointer;
}


.fa-cloud{
    color: #7dcae9;
}

.fa-sun{
    color: #e9be44;
}
.fa-cloud-rain{
    color: #2b6292;
}

.fa-cloud-showers-heavy{
    color: #48637c;
}

//button

.box{
    position: relative;;
    top:50%;
    left:50%;
    transform : translate(-50% ,-50%);
    margin-top: 50px;
  }
  
  .btn:link,
  .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:10px 20px;
    border-radius:6px;
    border: 1px solid #275efe;
    display:inline-block;
    transition: all .5s;
  }
  
  .btn-white{
    background:#678efe;
    color: white;
  }
  
  .btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }
  
  .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
  }
  
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  
  .btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:6px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
    border: 1px solid #275efe;
  }
  
  .btn-white::after {
      background: #678efe;
  }
  
  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }

